header.hero {
    height: 350px;
    background-color: #d8dfd8;
    background-image: url('../../assets/nbad1.jpeg');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 60px;
  }
  
  header.hero h1,
  header.hero h2 {
    text-align: center;
    margin: 0;
  }
  
  header.hero h1 {
    color: #d1cbcb;
    font-size: 3.2em;
    margin-bottom: 20px;
  }
  
 